---
title: Categories
permalink: /projects/categories/
author_profile: true
layout: single
---


<div id="archives">
{% for category in site.categories %}
 <div class="archive-group">
   {% capture category_name %}{{ category | first }}{% endcapture %}
   <div id="#{{ category_name | slugize }}"></div>
   <p></p>

   <h2 class="category-head">{{ category_name }}</h2>
   <a name="{{ category_name | slugize }}"></a>
   {% for post in site.categories[category_name] %}
   <article class="archive-item">
     <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>

     <p class="page__meta">
       {% if post.last_modified_at %}
         <i class="fa fa-fw fa-calendar" aria-hidden="true"></i> <time datetime="{{ post.last_modified_at | date: "%Y-%m-%d" }}">{{ post.last_modified_at | date: "%B %d, %Y" }}</time>&emsp;
       {% elsif post.date %}
         <i class="fa fa-fw fa-calendar" aria-hidden="true"></i> <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y " }}</time>&emsp;
       {% endif %}
       {% if post.read_time %}<i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{% include read-time.html %}{% endif %}
     </p>


   </article>
   {% endfor %}
 </div>
   {% endfor %}
